*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




.slider-container{
    overflow: hidden;
    position: relative;
    background-color: #d3d3d3;
}

.left-control, .right-control{
    width: 50px;
    height: 50px;
    position: absolute;
}

.left-control{
    left: 0px;
    z-index: 2;
}

.right-control{
    right: 0px;
    z-index: 2;
}

.prevBtn, .nextBtn{
    width: 100%;
    height: 100%;
    margin: auto;
    color: #fff;
}

.fa-chevron-left:before, 
.fa-chevron-right:before{
    position: absolute;
    top: 14px;
    left: 17px;
    font-size: 150%;
}

.prevBtn:hover, .nextBtn:hover{
    cursor: pointer;
    border: 1px solid transparent;
    background-color: #171212;
    color: #fff;
    border-radius: 25px;
}

.slider-content{
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}


.slider-content .slide{
    width: 100%;
    height: 100%;
}

.pagger{
    text-align: center;
    margin: 15px auto;
    position: absolute;
    z-index: 2;
}

.pagger ul li{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    background-color: #fff;
    border-radius: 12px;
}

.pagger ul li:hover{
    cursor: pointer;
}

.activePagger{
    width: 14px !important;
    height: 14px !important;
    border-radius: 14px !important;
    background-color: #7a7171  !important;
}

